<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <targets async="true">
        <target name="logfile" type="File" fileName="logs/thmtp.log" layout="${longdate}|${level:upperCase=true}|${message}" />
        <target name="logconsole" type="Console" layout="${longdate}|${level:upperCase=true}|${message}" />
    </targets>
    <rules>
        <logger name="*" minlevel="Info" writeTo="logfile" />
        <logger name="*" minlevel="Info" writeTo="logconsole" />
    </rules>
</nlog>