<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="MySqlConn" providerName="MySql.Data.MySqlClient" connectionString="server=localhost;port=3306;database=themeTT{0};uid=root;password=root" />
        <add name="MySqlConn.server" providerName="MySql.Data.MySqlClient" connectionString="server=localhost;port=3306;database=themeTT{0};uid=root;password=#Theme123" />
    </connectionStrings>
</configuration>